* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  margin: 0 auto;
  width: 100%;
}
.card {
  flex-wrap: no-wrap;
  display: flex;
  row-gap: 15px;
}
h1 {
  font-family: "PT Sans" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;

  color: #000000;
  margin-top: 79px;
  margin-bottom: 41px;
  margin-left: 99px;
}
p {
  border: 1px solid #384685;
  border-radius: 5px;
  width: 185px;
  height: 45px;
}
.item {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 34px;
  margin-bottom: 76px;
  margin-left: 99px;
}
.item p {
  font-family: "PT Sans" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;

  color: #384685;
  text-align: center;
  padding-top: 12px;
}
.cards {
  background: #ffffff;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  width: 270px;
  height: 600px;
  margin-left: 99px;
}

.img23 {
  height: 270px;
  background-image: url(../Image/img1.png);
  background-repeat: no-repeat;
  background-size: 358px 270px;
  padding-top: 1px;
  background-position: top;
  color: white;
}
h3 {
  padding-top: 40px;
  padding-bottom: 34px;
  font-family: "PT Sans" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  align-items: center;
  color: #000000;
}
#de {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-decoration-line: line-through;

  color: #bdbdbd;
}
span {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;

  color: #000000;
  padding-left: 12px;
  padding-top: 46px;
}
button {
  border: 1px solid #384685;
  border-radius: 5px;
  width: 220px;
  height: 53px;
  text-align: center;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;

  color: #1d1818;
  margin-top: 50px;
  margin-left: 12px;
  margin-bottom: 30px;
}
.span {
  padding-top: 12px;
  padding-bottom: 22px;
  padding-left: 37px;
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
}

.boxes {
  display: flex;
  flex-wrap: no-wrap;
}
.box {
  background: #384685;
}
h5 {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;

  color: #ffffff;
  border-radius: 5px;
  width: 185px;
  height: 45px;
  text-align: center;
  padding-top: 12px;
}
